@model UrbanTransport.Models.BusRoute

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Bus Ruta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bus.LicencePlate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Route.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
